a {
  text-decoration: none;
  text-align: center;
  padding: 14px 5px;
  transform: scaleX(1);
  transition: 0.15s all ease;
  color: black;
  display: block;
}

li {
  /* float: left; */
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li a:hover {
  color: #92E3A9;
  transform: scale(1.2);
}

.active {
  color: #92E3A9;
}

header {
  position: fixed;
  top: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  float: left;
  font-size: 16px;
  border-radius: 3px;
  padding: 30px;
  background-color: #fff;
  text-shadow: 1px 1px 0 #fff;
}