.mainContainer {
  background:rgba(0, 0,0, 0.4);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
  position:absolute;
  left: 25vw;
  top: 20vh;
  align-items:center;
  align-content:center;
  display: flex;
  width: auto;
}

body {
  background-color: #EBECF0;
  background-image: url('../resources/index_bg.jpg');
  background-repeat: no-repeat;
}


#signin_form {
  display: inline-block;
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

h2 {
  color: #fff;
  text-align: center;
}

input {
  margin-right: 18px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
   margin-bottom: 24px;
}

input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
}

.btn,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.btn {
  color: #61677C;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  display: inline-flex;
  width: 100%;
  color: #92E3A9;
}
.btn:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
}

.btn:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
}

.login_svg {
  width: 30px;
}

.btn span {
  padding-left: 30%;
  padding-top: 7px;
}

.signup_form {
  display: inline-block;
}

.signup_form input {
  height: 130%;
}

.signup_btn span {
  padding-left: 15px;
}

#signin_form input {
  width: 100%;
}

.signup_form input {
  width: auto;
}



@media screen and (max-width: 900px){
  .bgsvg {
      display: none;
    }

  #signin_form {
      position: relative;
      left: 0;
      padding: 16px;
      width: auto;
      margin: 0 auto;
    }

  .signup_form {
      position: relative;
      top: 145px;
      left: 25%;
    }
  .signup_form input {
      width: 100%;
    }

  .btn {
      color: #61677C;
      font-weight: bold;
      box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      font-weight: 600;
      display: inline-flex;
      width: auto;
      color: #92E3A9;
      border: 0;
      outline: 0;
      font-size: 16px;
      border-radius: 320px;
      padding: 16px;
      background-color: #EBECF0;
      text-shadow: 1px 1px 0 #FFF;
      width: 24vh;

    }
  .btn:hover {
      box-shadow: -2px -2px 5px #fff, 2px 2px 5px #BABECC;
    }

  .btn:active {
      box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #fff;
    }

  .login_svg{
      width:26px
    }

}

.signup_form p,.signin_form p{
  color: red;
}